<h1 class="title">What’s all this?</h1>
<div class="paragraph">
  <h2>May I Recommend</h3>
  <p>May I Recommend is a fortnightly newsletter about things I think are good. Each newsletter consists of an essay (approximately 500 words or less), some recommended pairings to accompany the essay, and a Thing of the Week. It is inspired by Robin Sloan’s Year of the Meteor, the podcast Wonderful, and my own irrepressible urge to tell people about the stuff I like. Season 1 of the newsletter has been picked up for a one-year run of 26 episodes. No word currently on whether or not there will be a Season 2.</p>
  <p><a href="/subscribe">Subscribe here.</a></p>
</div>
<div class= "paragraph">
  <h2>Message In A Bottle</h3>
  <p>Message In A Bottle (the website you’re looking at right now (the URL says “letter” because “message” was taken on Heroku)) is the email subscription platform I built to distribute May I Recommend. It was important to me to have a fully analytics-free experience, with no indication of how many people subscribed, who’s opening it, or what links are being clicked on. I wanted to feel like I was tucking a carefully rolled letter into an old rinsed-out rootbeer bottle, sealing it with cork and wax, and then lobbing it out into the ocean and waving goodbye. Who knows whose shores it will wash upon? Maybe someday they’ll write me back, or maybe I write the letter for no one but myself.</p>
  <p><a href="https://github.com/egarreau/messageinabottle">Source code here.</a></p>
</div>
