<h1 class="title">What’s all this?</h1>
<div class="paragraph">
  <h2>May I Recommend</h3>
  <p>May I Recommend is a fortnightly newsletter about things I think are good. Each newsletter typically consists of an essay, some recommended pairings to accompany the essay, and a Thing of the Week.  Season 1 of the newsletter has been picked up for a one-year run of 26 episodes. No word currently on whether or not there will be a Season 2.</p>
  <p>If you have recommendations of your own, I always love to hear them; email me at <a href="mailto:mayirec@gmail.com">mayirec@gmail.com</a>.</p>
  <p><a href="/subscribe">Subscribe here.</a></p>
</div>
<div class="paragraph">
  <h2>Letter In A Bottle</h3>
  <p>Letter In A Bottle (the website you’re looking at right now) is the email subscription platform I built to distribute May I Recommend. It’s important to me to have a fully analytics-free experience, with no indication of  who’s opening it, what links are clicked on, or any other traditional “engagement metrics”. I want to feel like I’m tucking a carefully rolled letter into an old rinsed-out rootbeer bottle, sealing it with cork and wax, and then lobbing it out into the ocean and waving goodbye. Who knows whose shores it will wash upon? Maybe someday they’ll write me back, or maybe I write the letter for no one but myself.</p>
  <p><a href="https://github.com/egarreau/messageinabottle">Source code here.</a></p>
  <p>First person to submit a pull request making it not gigantic on tablet widths wins my undying gratitude.</p>
</div>
<div class="paragraph">
  <h2>Colophon</h2>
  <p>This site is set in <a href="https://www.omnibus-type.com/fonts/rosario/">Rosario</a> for paragraph text and <a href="https://fonts.google.com/specimen/Ibarra+Real+Nova">Ibarra Real Nova</a> for titles. It consists of a Sinatra app with a Postgres database hosted on Heroku.</p>
  <p>The newsletter takes inspiration from Ross Gay's <a href="https://www.workman.com/products/the-book-of-delights">Book of Delights</a>, Robin Sloan’s <a href="https://desert.glass/newsletter/week-52/#text">Year of the Meteor</a>, the podcast <a href="https://maximumfun.org/podcasts/wonderful/">Wonderful</a>, and my own irrepressible urge to tell people about the stuff I like. It is sent using <a href="https://www.mailgun.com/">Mailgun</a>.</p>
  <p>When I include images, they are typically sourced from the <a href="https://www.nga.gov/collection.html">National Gallery of Art</a>, the <a href="https://collections.si.edu/search/">Smithsonian Institution</a>, the <a href="https://www.artic.edu/collection">Art Institute of Chicago</a>, the <a href="http://museums.fivecolleges.edu/">Five Colleges and Historic Deerfield Museum Consortium</a>, or <a href="https://www.clevelandart.org/art/collection/search">The Cleveland Museum of Art</a>.</p>
</div>
