<h1 class="title">☞&nbsp;May I Recommend&nbsp;☜</h1>
<p>May I Recommend is a series of essays about things I think are good. It takes inspiration from Ross Gay's <a href="https://www.workman.com/products/the-book-of-delights">Book of Delights</a>, Robin Sloan’s <a href="https://desert.glass/newsletter/week-52/#text">Year of the Meteor</a>, the podcast <a href="https://maximumfun.org/podcasts/wonderful/">Wonderful</a>, and my own irrepressible urge to tell people about the stuff I like. Below are the essays from January 11th to December 27th, 2020.</p>
<ul class="archive">
  <% @archive.letters.each do |letter| %>
    <li>
      <a href="/archive/<%= letter.index %>"><%= letter.title %></a>
    </li>
  <% end %>
</ul>
