<h1 class="title">Previously Recommended</h1>
<div class="paragraph">
  <ul>
    <% @archive.letters.each do |letter| %>
      <li>
        <a href="/archive/<%= letter.index %>"><%= letter.title %></a>
      </li>
    <% end %>
  </ul>
</div>
