<h1 class="title">Subscription Successful!</h1>

<p>Welcome to the archipelago, <%= email %>. My next missive should wash up on your shores within the next two weeks. If it does not (this is a homespun email platform, after all), please reach out to ergarreau at gmail and I'll do my best to sort you out.</p>
<p>If you ever change your mind about letting me into your inbox, please <a href="/unsubscribe">unsubscribe</a> without a second thought. I have no way of knowing you subscribed, so I will never be offended by your unsubscription.</p>
