<% if email != "" %>
  <h1 class="title">Subscription Successful!</h1>
  <div class="paragraph">
    <p>Welcome to the archipelago, <%= email %>. My next missive should wash up on your shores within the next two weeks. If it does not (this is a homespun email platform, after all), please reach out to ergarreau at gmail and I’ll do my best to sort you out.</p>
    <p>If you ever change your mind about letting me into your inbox, please <a href="/unsubscribe">unsubscribe</a> without hesitation. I have no way of knowing you subscribed, so I will never be offended by your unsubscription.</p>
    <span class="break">🌊</span>
  </div>
<% else %>
  <h1 class="title">Hmm, something went weird</h1>
  <div class="paragraph">
    <p>I’m not sure what happened there but it looks like you haven’t been subscribed. Please <a href="/subscribe">try again</a> or let me know what happened at ergarreau at gmail and I’ll do my best to sort you out.</p>
  </div>
<% end %>
