<% if success == 'true' %>
  <h1 class="title">Unsubscribe Successful</h1>
  <div class="paragraph">
    <p>There is nothing in this finite life more valuable than time. I'm honored that you spent some of yours with me. Fairwell friend!</p>
    <span class="break">🌊</span>
  </div>
<% else %>
  <h1 class="title">Hmm, something went weird</h1>
  <div class="paragraph">
    <p>I'm not sure what happened there but it looks like you haven't been properly unsubscribed (sorry!). Please <a href="/unsubscribe">try again</a> or let me know what happened at ergarreau at gmail and I'll do my best to sort you out.</p>
  </div>
<% end %>
