<html>
<!--
  Sometimes I pretend I'm not me. I only work for me.
  This feels like a secret motor chirring inside my pocket.
  I think, she will be so glad when she sees the pages neatly written.
  She will be relieved someone sharpened pencils, folded clothes.

  Naomi Shihab Nye
-->
	<head>
    <title>Message In A Bottle</title>
    <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Rosario&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/waves.css">
		<meta charset="utf-8">
  </head>
  <body>
    <nav role="navigation" aria-label="main navigation">
      <a class="nav-item" href="/subscribe">
        Subscribe
      </a>

      <a class="nav-item" href="/unsubscribe">
        Unsubscribe
      </a>

      <a class="nav-item" href="/about">
        About
      </a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
