<h1 class="title">Subscribe</h1>
<form action='create'  method='post'>
  <div class="field">
    <label class="label">Email Address</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Where should I send my letter?">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
</form>
