<h1 class="title">Subscribe to May I Recommend</h1>
<form action='create'  method='post'>
  <label for="email">Email Address</label>
  <div class="control has-icons-left has-icons-right">
  <input class="input" type="email" name="email" placeholder="What shores shall my letter wash upon?">
  <span class="icon is-small is-left">
    <i class="fas fa-wine-bottle"></i>
  </span>
  </div>
  <input type="submit" class="button"></button>
</form>
<div class="content">
  <h2>Wait, what am I subscribing to?</h2>
  <p>May I Recommend is a fortnightly newsletter about things I think are good. Each newsletter consists of an essay (approximately 500 words or less), some recommended pairings to accompany the essay, and a Thing of the Week. It is inspired by Robin Sloan's Year of the Meteor, the podcast Wonderful, and my own hubris. Season 1 of the newsletter has been picked up for a one-year run of 26 episodes. No word currently on whether or not there will be a Season 2.</p>
