<div class="header">
  <p class="supertitle">subscribe to</p>
  <h1 class="title">Good Question</h1>
  <p class="subtitle">from Evangeline Garreau</p>
</div>
<form action="create"  method="post">
  <label for="email" class="hidden">Email</label>
  <input type="email" name="email" title="email" placeholder="≈ enter your email ≈">
  <input type="submit" value="Subscribe">
</form>
<a href='/about'>Wait, what am I subscribing to?</a>

