<div class="header">
  <h1 class="title">Unsubscribe</h1>
  <p class="subtitle">parting is such sweet sorrow!</p>
</div>
<form action="delete"  method="post">
  <label for="email">Email</label>
  <input class="input" type="email" name="email" title="email" placeholder="≈ enter your email ≈">
  <input type="submit" value="Unsubscribe">
</form>

