<h1 class="title">Unsubscribe</h1>
<form action='delete'  method='post'>
  <label for="email">Email Address</label>
  <div class="control has-icons-left has-icons-right">
  <input class="input" type="email" name="email" placeholder="Where have I been bugging you?">
  <span class="icon is-small is-left">
    <i class="fas fa-wine-bottle"></i>
  </span>
  </div>
  <input type="submit" class="button"></button>
</form>

