<h1 class="title">Unsubscribe</h1>
<form action="delete"  method="post">
  <input class="input" type="email" name="email" placeholder="≈ enter your email ≈">
  <input type="submit" class="button" value="Unsubscribe">
</form>

