/*
🌊 Waves, a tiny stylesheet
* by Evangeline Garreau
* January 1, 2020
* Structure and some styling shamelessly stolen from Skeleton (www.getskeleton.com)
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 10.5px;
}

body {
  font-size: 4.5rem;
  line-height: 10rem;
  text-align: center;
  color: #2B2B2B;
}

p {
  color: #595959;
}

.container {
  margin: 0 auto;
  padding: 0 5rem;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: 'Rosario', sans-serif; }

h1, h2, h3 {
  font-family: 'Ibarra Real Nova', serif; }

.supertitle, .subtitle {
  font-style: italic; }

.paragraph {
  text-align: left;
  line-height: 6rem;
  margin-bottom: 10rem;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form, .header {
  margin-bottom: 6rem;
}

.title {
  margin: 0; }
.supertitle {
  margin-bottom: 0; }
.subtitle {
  margin-top: .5rem; }

/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  padding: 3rem;
  margin-bottom: 5rem;
  border-bottom: .6rem double #008094;
}

.nav-item {
  padding: 0 2rem;
  text-decoration: none;
  color: #595959;
}

@media (min-width: 990px) {
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #008094;
  text-decoration: none;
  font-weight: 900;
}
a:hover {}


/* Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"], input[type="submit"] {
  display: block;
  width: 100%;
  padding: 2rem;
  border-radius: .3rem;
  text-align: center;
}

input[type="email"] {
  margin: 3rem 0;
  border: 1rem solid #008094;
}

input[type="submit"] {
  border: none;
  background: #008094;
  color: #fff;
}


input[type="submit"]:hover,
input[type="submit"]:focus {}
input[type="email"]:focus {}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.break {
  display: block;
  text-align: center;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

@media (min-width: 990px) {
  html {
    font-size: 12px;
  }

  body { 
    font-size: 1.5rem; 
    line-height: 3rem;
  }
  .container { 
    max-width: 700px; 
  }

  nav {
    padding: 2rem;
  }

  .header {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 0;
  }

  .paragraph {
    line-height: 2rem;
    margin-bottom: 5rem;
  }

  input[type="email"] {
    margin: 1rem 0;
    border: .5rem solid #008094;
  }

  input[type="email"], input[type="submit"] {
    padding: 1rem;
  }

  form {
    margin: 4rem 6rem 6rem 6rem;
  }
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
