/*
🌊 Waves, a tiny, fussy stylesheet
* by Evangeline Garreau
* January 1, 2020
* Structure shamelessly stolen from Skeleton (www.getskeleton.com)
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
* Base Styles
* Header
* Nav
* Text
* Form
* Misc
* Media Queries
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 10.5px;
}

body {
  font-family: 'Rosario', sans-serif;
  font-size: 4.5rem;
  line-height: 10rem;
  text-align: center;
  color: #2B2B2B;
}

p {
  color: #595959;
}

.container {
  margin: 0 auto;
  padding: 0 5rem;
}

h1, h2, h3 {
  font-family: 'Ibarra Real Nova', serif;
}


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  margin-bottom: 6rem;
}
.title {
  margin: 0; 
}
.supertitle {
  margin-bottom: 0; 
}
.subtitle {
  margin-top: .5rem; 
}
.supertitle, .subtitle {
  font-style: italic; 
}


/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  padding: 3rem;
  margin-bottom: 5rem;
  border-bottom: .6rem double #008094;
}

.nav-item {
  padding: 0 2rem;
  text-decoration: none;
  color: #595959;
}


/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.paragraph {
  text-align: left;
  line-height: 6rem;
  margin-bottom: 10rem;
}

a {
  color: #008094;
  text-decoration: none;
  font-weight: 900;
}


/* Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type="email"], input[type="submit"] {
  display: block;
  width: 100%;
  padding: 2rem;
  border-radius: .3rem;
  text-align: center;
}

input[type="email"] {
  margin: 3rem 0;
  border: 1rem solid #008094;
}

input[type="submit"] {
  border: none;
  background: #008094;
  color: #fff;
}

input[type="submit"]:hover,
input[type="submit"]:focus {}
input[type="email"]:focus {}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.break {
  display: block;
  text-align: center;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop */
@media (min-width: 990px) {
  html {
    font-size: 12px;
  }
  body { 
    font-size: 1.5rem; 
    line-height: 3rem;
  }
  .container { 
    max-width: 700px; 
  }

  nav {
    padding: 2rem;
  }

  .header {
    font-size: 2rem;
    line-height: 4rem;
    margin-bottom: 0;
  }

  .paragraph {
    line-height: 2rem;
    margin-bottom: 5rem;
  }

  form {
    margin: 4rem 6rem 6rem 6rem;
  }
  input[type="email"] {
    margin: 1rem 0;
    border: .5rem solid #008094;
  }
  input[type="email"], input[type="submit"] {
    padding: 1rem;
  }
}
